.top {
  display: flex;
  justify-content: space-between;
}

.mainTop {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  color: #cacacf;

  div {
    width: 700px;
  }
}

.contentItem {
  .contentInner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #0b0b0b;
  }
}


.btn {
  margin-top: -10px;
  text-align: end;
}

.stub {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 305px);

  font-weight: bold;
  color: black;
}

@media (max-width: 770px) {
  .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: 120px;
  }

  .mainTop {
    display: none;
  }

  .mainText {
    font-size: 36px;
  }

  .main {
    max-height: 600px;
    overflow-x: scroll;
  }


  .contentItem {
    display: flex;

    flex-direction: column;
    padding: 10px;
  }

  .contentInner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    margin-top: 10px;
    text-align: start;
  }
}
