.pageMapWrap {
  position: relative;
  width: 100%;
  height: calc(90vh - 236px);

  @media (max-width: 770px) {
    height: calc(100vh - 290px);
  }

  .map {
    margin-top: -20px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
}

.modalMapWrap {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 800px);

  .map {
    position: absolute;
    width: 100%;
    height: 250px;
    border-radius: 25px;

    @media (max-width: 770px) {
      margin-top: 20px;
    }
  }

  @media (max-width: 770px) {
    width: 280px;
  }
}

.address {
  display: block;
  height: 28px;
  font-size: 12px;
  color: #000000;
}

.markerPopup {
  text-align: center;
  h2 {
    font-size: 18px;
    color: #000000;
  }

  p {
    font-size: 12px;
    color: #000000;
  }
}
